.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
}