.cover__title {
    color: #FFFFFF;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 32px;
    margin-left: 0;
}
@media screen and (max-width: 670px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}