.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    padding-top: 92px;
    padding-right: 48px;
    padding-left: 48px;
    padding-bottom: 24px;
}
@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 670px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        max-width: 186px;
        padding-top: 64px;
        padding-right: 118px;
        padding-left: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}