.place__website {
    max-width: 456px;
    align-self: end;
}
@media screen and (max-width: 670px) {
    .place__website {
        max-width: 288px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}